body {
  position: relative;
  text-rendering: optimizeLegibility;
  color: #2b2d2d;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

a {
  transition: .3s ease;
}

.navbar-brand {
  width: auto;
}

.navbar-inverse .bg-inverse {
  background: rgba(0,0,0,0.4);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.cover {
  position: absolute;
  left: 0;
  top: 0;
  content: " ";
  background-image: url("../img/wood-min.jpeg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.text-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.intro {
  align-self: center;
}

.see-work {
  position: absolute;
  bottom: 2rem;
}

.thumbnail img {
  margin-bottom: 20px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.thumbnail img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  opacity: .7;
}

figure {
  overflow: hidden;
}

#about {
  padding-top: 5rem;
  min-height: 100vh;
  max-height: 100%;
  padding-bottom: 5rem;
}

#about p {
  text-align: justify;
}

#skillset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0;
}

#skillset > i {
  color: #ca4817;
}

#skillset > i:hover {
  color: #61bdd4;
  transition: .2s ease-in-out;
}

.work-history {
  padding: 0;
}

.work-history > li {
  list-style-type: none;
}

#portfolio {
  padding-top: 5rem;
  background-color: #272727;
  color: #f2f2f2;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10%;
  min-height: 100vh;
}

#portfolio h2 {
  padding-bottom: 100px;
}

#portfolio .thumbnail {
  max-width: 500px;
  margin-bottom: 60px;
}

.portrait {
  max-width: 30px;
  border-radius: 50%;
}

#contact {
  padding-top: 5rem;
  color: #33333;
  background-color: #FFFFFF;
  padding-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100vh;
}

h2 {
  color: #61bdd4;
}

.social i {
  color: black;
  font-size: 3em;
  transition: .2s ease-in-out;
}

.social i:hover {
  color: #ca4817;
}

#footer {
  color: #B5B5B5;
  background-color: #212224;
  padding: 15px 0;
}

#footer p {
  padding-top: 5px;
}
