body {
  text-rendering: optimizeLegibility;
  background-color: #E2DFD0;
}

a {
  transition: .3s ease;
}

.anchor {
  padding-top: 70px;
}

#myNavbar {
  margin: 0;
  padding: 7.5px 15px;
}

.navbar-custom {
  padding: 0
}

.navbar-brand {
  margin-top: 7.5px;
}

.brand-custom .navbar-brand {
  color: #ca4817;
  font-weight: 900;
}

.main-holder, .container {
  min-width: 50%;
  padding: 0;
}

#about {
  background-image: url("../img/goldengate.jpg");
  background-image: url("../img/goldengate.jpg"),
  linear-gradient(rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0.1));
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: #FFFFFF;
  height: 100vh;
}

#intro-text {
  background-color: #000000;
  opacity: .8;
  padding-bottom: 10px;
}

.intro {
  margin-top: 15%;
  padding: 0;
}

hr {
  height: 3px;
  color: #000000;
  background-color: #000000;
  border: 0;
}

.examples div img {
  margin-bottom: 20px;
}

#portfolio {
  color: #FFFFFF;
  background-color: #212224;
  padding-bottom: 10%;
  display: ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#portfolio h2 {
  padding-bottom: 100px;
}

#portfolio .thumbnail {
  max-width: 400px;
  margin-bottom: 60px;
}

.portrait {
  min-width: 100px;
  max-width: 150px;
  border-radius: 50%;
}

.examples {
  display: ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
}

.row {
   margin-left: 0;
  margin-right: 0;
}

#contact {
  color: #33333;
  background-color: #FFFFFF;
  padding-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

#contact h2 {
  color: #61bdd4;
}

.social i {
  color: black;
  font-size: 2em;
}

#footer {
  color: #B5B5B5;
  background-color: #212224;
  padding: 15px 0;
}

#footer p {
  padding-top: 5px;
}
