body {
  padding-top: 65px;
  background-color: #E2DFD0;
}

a {
  transition: .3s ease;
}

.anchor {
  padding-top: 65px;
  /*margin-top: -50px;*/
}

#myNavbar {
  margin: 0;
  padding: 7.5px 15px;
}

.navbar-custom {
  padding: 0
}

.navbar-brand {
  margin-top: 7.5px;
}

.brand-custom .navbar-brand {
  color: #ca4817;
  font-weight: 900;
}

.main-holder, .container {
  min-width: 50%;
  padding: 0;
}

#about {
  background-image: url("../img/goldengate.jpeg");
  background-image: url("../img/goldengate.jpeg"),
  linear-gradient(rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0.1));
  background-position: center center;
  background-size: cover;
  color: #E8E8E8;
  height: 100vh;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.intro {
  margin-top: 15%;
  padding: 0;
}

.portrait {
  min-width: 100px;
  max-width: 150px;
  border-radius: 50%;
}

#portfolio h2 {
  padding-bottom: 100px;
}

.examples div img {
  margin-bottom: 20px;
}

#portfolio {
  color: #FFFFFF;
  background-color: #212224;
  padding-bottom: 10%;
}

#portfolio .thumbnail {
  width: 400px;
}

.row {
   margin-left: 0;
  margin-right: 0;
}

#contact {
  color: #33333;
  background-color: #FFFFFF;
  padding-bottom: 70px;
}

#contact h2 {
  color: #61bdd4;
}

.social i {
  color: black;
  font-size: 2em;
}

#footer {
  color: #B5B5B5;
  background-color: #212224;
  padding: 15px 0;
}

#footer p {
  padding: 0;
}
