body {
  position: relative;
  text-rendering: optimizeLegibility;
  color: #2b2d2d;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

h2 {
  color: #61bdd4;
}

a {
  transition: .3s ease;
}

.navbar-brand {
  width: auto;
}

.navbar-inverse .bg-inverse {
  background: rgba(0,0,0,0.4);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.cover {
  position: absolute;
  left: 0;
  top: 0;
  content: " ";
  background-color: #d1b19a;
  background-image: url("../img/wood-min.jpeg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.text-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.intro {
  align-self: center;
}

.see-work {
  position: absolute;
  bottom: 2rem;
}

.see-work a {
  color: #61bdd4;
}

.see-work i:hover::before {
  color: #0275d8;
  border: 3px solid #0275d8;
  border-radius: 5px;
  transition: .3s ease-in-out;
}

#about {
  padding-top: 5rem;
  max-height: 100%;
}

#skillset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0;
}

#skillset > i {
  color: #ca4817;
}

#skillset > i:hover {
  color: #61bdd4;
  transition: .2s ease-in-out;
}

.work-history {
  padding: 0;
}

.work-history > li {
  list-style-type: none;
}

.work-history .experience {
  color: #ca4817;
}

#portfolio {
  padding-top: 5rem;
  min-height: 100vh;
}

#portfolio h2 {
  padding-bottom: 100px;
}

#portfolio h4 {
  color: #ca4817;
}

#portfolio > .row {
  padding: 5rem 1rem;
}

#portfolio > .row:nth-of-type(odd) {
  background-color: #272727;
  color: #f2f2f2;
}

#portfolio a {
  color: #61bdd4;
}

#portfolio img {
  max-height: 300px;
  margin-bottom: 20px;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  opacity: .8;
}

#portfolio img:hover {
  opacity: 1;
}
.portrait {
  max-width: 30px;
  border-radius: 50%;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 5rem;
  color: #33333;
  background-color: #FFFFFF;
  padding-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

#contact textarea {
  height: 150px;

}

.social i {
  color: black;
  font-size: 3em;
  transition: .2s ease-in-out;
}

.social i:hover {
  color: #ca4817;
}

#email {
  margin-bottom: 1rem;
}

#footer {
  color: #B5B5B5;
  background-color: #212224;
  padding: 15px 0;
}

#footer p {
  padding-top: 5px;
}
